{{ $footer_color := .Params.footer_color }}
{{ $footer_left_stripe := .Params.footer_left_stripe }}

<img class="is-paddingless is-marginless has-background-white" src="img/delta-top-{{ $footer_color }}.svg" width="100%" height="100%" >
<footer class="footer-color-{{ $footer_color }} left_stripe_{{ $footer_left_stripe }} " id="contact">
  <div class="footer-body pad2">
    <div class="container " style="margin-left:24px;">
      <div class="columns is-centered is-vcentered">
        <div class="column is-6">
          {{ partial "elements/gmap" . }}
        </div>
        <div class="column is-6 ">
          <img class=" " src="{{ .Site.Params.company_logo }}" alt="{{ .Site.Params.company_name }}" height=" " style=" "> 
          <p class="has-text-left pad1y">
            {{ .Site.Params.company_description }}
          </p>
          <p class="is-uppercase"  > 
            {{ partial "elements/arrow-right" . }}
            <i>
              {{ partial "obfuscated_email" . }}
            </i>
          </p>
          <p class="is-uppercase"  >
            {{ partial "elements/arrow-right" . }}
            <i>
              {{ .Site.Params.company_phone }}
            </i>
          </p> 
        </div>    
      </div>
      <hr>
      <p class="has-text-left pad1x">
        &copy; {{ now.Format "2006"}} - {{ .Site.Params.company_name }} - {{ .Site.Params.copyright_note_en }}
      </p>
    </div>
  </div>
</footer>
