{{ "<!-- header Start -->" | safeHTML }}
{{ $navbar_color := .Params.navbar_color }}
{{ $navbar_left_stripe := .Params.navbar_left_stripe }}

<nav class="navbar has-shadow is-fixed-top navbar-color-{{ $navbar_color }} left_stripe_{{ $navbar_left_stripe }}" role="navigation" aria-label="main-navigation"  >
  <div class="container">
    <div class="navbar-brand " >
      <a class="navbar-item navbar-brand-logo is-uppercase" href="{{.Site.BaseURL | absURL }}">
        <i class="fa fa-2x fa-asterisk fa-spin" ></i>
        <h1 class="">{{ $.Site.Params.Title }}</h1>
      </a>
      <a  style="background-color:{{ $navbar_color }}" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu" >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
          <!--<span class="fa  fa-arrow"></span>-->
      </a>
      </div>
    <div id="navbarMenu" class="navbar-menu ">
      <div class="navbar-end has-text-centered is-vcentered">
        <a  class="navbar-item navbar-menu-entry" href="{{ "/" | absURL }}">
          <i class="fa fa-home"></i>
          home
        </a>
        <a  class="navbar-item navbar-menu-entry" href="{{ "/ebook" | absURL }}">
          <i class="fa fa-book"></i>
          ebook
        </a>
        
        <a  class="navbar-item navbar-menu-entry" href="{{ "/tech" | absURL }}">
          <i class="fa fa-cogs"></i>
          tech
        </a>
        <a  class="navbar-item navbar-menu-entry" href="{{ "/contact" | absURL }}">
          <i class="fa fa-mobile"></i>
          contact
        </a>
      </div>
    </div>
  </div>
</nav>


<script type="text/javascript">

'use strict';
document.addEventListener('DOMContentLoaded', function () {

      // Dropdowns in navbar

      var $dropdowns = getAll('.navbar-item.has-dropdown:not(.is-hoverable)');

      if ($dropdowns.length > 0) {
        $dropdowns.forEach(function ($el) {
          $el.addEventListener('click', function (event) {
            event.stopPropagation();
            $el.classList.toggle('is-active');
          });
        });

        document.addEventListener('click', function (event) {
          closeDropdowns();
        });
      }

      function closeDropdowns() {
        $dropdowns.forEach(function ($el) {
          $el.classList.remove('is-active');
        });
      }

      // Close dropdowns if ESC pressed
      document.addEventListener('keydown', function (event) {
        var e = event || window.event;
        if (e.keyCode === 27) {
          closeDropdowns();
        }
      });

      // Toggles

      var $burgers = getAll('.burger');

      if ($burgers.length > 0) {
        $burgers.forEach(function ($el) {
          $el.addEventListener('click', function () {
            var target = $el.dataset.target;
            var $target = document.getElementById(target);
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }

      // Functions

      function getAll(selector) {
        return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
      }
    });
</script>
{{ "<!-- header End -->" | safeHTML }}
