<section class="section hero section-color-white is-fullheight homepagesection" id="section1">
  <div class="hero-body-white hero-body left_stripe_roy  slide"id="slide1"  >
    <div class="container  has-text-centered ">
      <div class="columns">
        <div class="column is-fullwidth">
          <h1 class="title is-1">Section white 1.1</h1>
          <hr>
          <figure class="has-text-centered lined_black" style="padding:8px">
            <iframe width="auto" height="auto" src="https://www.youtube.com/embed/3G-rLILxHKo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </figure>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-body-white hero-body left_stripe_roy slide" id="slide2" >
    <div class="container  has-text-centered ">
      <div class="columns">
        <div class="column is-fullwidth">
          <h1 class="title is-1">
            Section white 1.2
          </h1>
          <hr>

          <figure class="has-text-centered lined_black" style="padding:8px">
            <iframe width="auto" height="auto" src="https://www.youtube.com/embed/4mtfnfQoAco" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </figure>
<hr>
          <a class="button" tabindex="0" role="button" aria-disabled="false" animated="" elevation="0" aria-label="{{ $.Site.Params.metadescription }} " href="{{ "#section2" | relURL }}">
            Button to section2
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-body-white hero-body left_stripe_roy slide" id="slide3" >
    <div class="container  has-text-left ">
      <div class="columns ">
        <div class="column is-fullwidth">
          <h1 class="title">
          Section white 1.3
          </h1>
          <figure class="has-text-centered lined_black" style="padding:8px">
            <img  src="images/rca-orange.jpg" alt="" style="max-height:180px">
          </figure>
          <p class="">
            <small>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
