<section class="section hero section-color-yellow is-fullheight homepagesection" id="section2">
  <div class="hero-body-yellow hero-body left_stripe_black-lines  slide" id="slide1"  >
    <div class="container  has-text-left">
      <div class="columns">
        <div class="column is-fullwidth">
          <h1 class="title ">The e-book of the month</h1>
          <hr>
          <p class="">
  The E-book of the month is <a href="/ebook" alt="button" class="" role="button">Animal Farm, by Georges Orwell</a> .
</p>
        </div>
      </div>
    </div>
  </div>
</section>
