<section id="home" class="
 hero
 section
 section-color-black
">
<!-- start large screen -->
<div class="hero-body hero-image is-paddingless is-marginless is-borderless is-hidden-touch ">
  <div class="container hero-image-container hero-image-container-black is-fluid " style="position:absolute;top:128;z-index:10">
    <div id=" " class="  columns  is-centered is-vcentered has-text-centered ">
      <div class=" column is-12 pad2 ">
        <h1 class=" title has-text-light is-uppercase">
          {{.Site.Params.homepage_01.title }}
        </h1>
        <div id="scrollfx_Div01" class="scrollfx_Div" data-delay="0s">
          {{ partial "home/scrollfx_div01" . }}
        </div>
      </div>
    </div>
    <div class="columns is-hidden-touch pad2y">
      <div class="column is-12 has-text-centered"> 
        <a href="/#02">
          {{ partial "elements/arrow-down-3x" . }}
        </a>
      </div>
    </div>
  </div>
  <img id="heroImg" data-src="{{ .Site.Params.homepage_01.backgroundImageSrc }}" class="lazyload " style="background-size:cover;z-index:0" alt="Hello Bulgo" width="100%" height="100%" />
</div>
<!-- start touch devices screens -->
  <div class="hero-head is-paddingless is-marginless is-borderless  is-hidden-desktop " style="max-height: 55vh;"> 
    <img data-src="{{ .Site.Params.homepage_01.backgroundImageSrc }}" class="lazyload" style="background-size:cover; " alt="Hello Bulgo" width="100%" height="100%" />
  </div>
  <div class="hero-body is-paddingless is-marginless is-borderless  is-hidden-desktop " style=""> 
    <div id=" " class="columns is-centered  has-text-centered">
      <div class="column is-12 pad2 ">
        <h1 class="title has-text-light is-uppercase">
          {{.Site.Params.homepage_01.title }}
        </h1>
        <div id="scrollfx_Div01" class=" " data-delay="0s">
          {{ partial "home/scrollfx_div01" . }}
        </div>
      </div>
    </div>
         
  </div>
</section>
