<section id="01"
class="
 section
 hero
 section-color-black
">
  <div class="
   hero-parallax
   hero-body
  ">
    <div class="
     parallax-container
     container
     is-fluid
     has-background-alpha
     pad
    "
    >
      <div class="
       columns
       is-centered
       is-vcentered
       has-text-centered
      ">
        <div class="
         column
         is-10
        ">
          <h1 class="
           title
          ">
            {{.Site.Params.homepage_01.title }}
          </h1>
          <h3 class="
           subtitle
           is-uppercase
          ">
            {{.Site.Params.homepage_01.subtitle }}
          </h3>

          <p class="

           is-size-7
           is-uppercase
          ">
            {{ .Site.Params.homepage_01.paragraph }}
          </p>
          <p class=" ">
            <a
            href="{{ .Site.Params.homepage_01.linkUrl_01 }}"
            class="pad1x"
            >
              <span class="
              fa
              fa-{{ .Site.Params.homepage_01.linkIcon_01 }}
              ">
              </span>
              {{ .Site.Params.homepage_01.linkName_01 }}
            </a>

            <a
            href="{{ .Site.Params.homepage_01.linkUrl_02 }}"
            class="pad1x"
            >
              <span class="
              fa
              fa-{{ .Site.Params.homepage_01.linkIcon_02 }}
              ">
              </span>
              {{ .Site.Params.homepage_01.linkName_02 }}
            </a>
          </p>
        </div>
      </div>
    </div>
    <img
    data-src="{{ .Site.Params.homepage_01.backgroundImageSrc }}"
    class="lazyload"
    style="background-size:cover;"
    alt="hello"
    width="100%"
    height="100%"
    >

</section>
