<section
 id="02"
 class="section-color-white"
>
<div
 class="
  section-body
  section-body-white
  left_stripe_roy 
  "
>
<div
 id="magicDiv02"
 class="magicDiv container is-fluid pad2"
 data-delay="0.9s"
 style="margin-left:24px"
>
      <div id="" class="pad" >
        <div class="columns is-centered is-vcentered">
          <div class="column is-3 has-background-black-lines pad2">
            <figure class="image">
              <img class="lazyload " data-src="{{.Site.Params.homepage_02.imageSrc }}" alt="">
            </figure>
          </div>
        <div class=" column is-9 pad2">
          <p class=" is-size-7 is-uppercase ">
            {{.Site.Params.homepage_02.topMiniTitle }}
          </p>
          <h1 class="title is-uppercase">
            {{.Site.Params.homepage_02.title }}
          </h1>
          <h3 class="subtitle">
            {{.Site.Params.homepage_02.subtitle }}
          </h3>
          <p class="is-size-4 is-uppercase ">
            {{ .Site.Params.homepage_02.paragraph }}
          </p>
        </div>

        </div>
      </div>

      <div class="columns is-hidden-mobile pad2y">
        <div class="column is-12 has-text-left"> 
          <a href="/#03_01" class=" "><span class="fa fa-arrow-down fa-3x"></span></a>
        </div>
      </div>
</div> 
</div>
</section>
