<section class="section hero section section-color-white   left_stripe_roy" id="02">
  <div class="hero-body " >
    <div class="container is-fluid   container-white ">
      <div class="columns is-centered is-vcentered   ">

        <div class="column is-12  has-text-centered is-centered">
          <a class="is-uppercase  " href="{{ "/" | relURL }}">Homepage 02 Top Link</a>
          <h1 class="subtitle " > homepage 02 title </h1>

          <p class="  ">
            Homepage 02 Paragraph : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


          </p>
<br>
<a class="button " href="{{ "/" | relURL }}">Homepage 02 Button</a>

        </div>
      </div>
    </div>
  </div>
</section>
