
<img class=" left_stripe_roy  is-paddingless is-marginless has-background-white" src="img/hatch-bottom-yellow.svg" width="100%" height="100%" >
<section class="hero  section-color-yellow" >
  <div class="hero-body hero-body-yellow  pad2y is-paddingless " >
    <div class="container is-fixed is-fluid has-text-centered is-fullheight">

        <div class="content">
          <div class="columns is-centered is-vcentered">
            <div class="column is-6">
                <h1 class="title is-1">
                  h1 class = title is-1
                </h1>
                <hr>
                <h3 class="subtitle is-uppercase">
                    h3 class = subtitle is-uppercase <a href="{{ "/" | relURL }}">This is a link.</a>
                </h3>

                <a class="button" href="{{ "/" | relURL }}">button</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<img class="is-paddingless is-marginless has-background-yellow" src="img/hatch-bottom-orange.svg" width="100%" height="100%" >
<section class="hero  section-color-orange" >
  <div class="hero-body hero-body-orange  pad2y is-paddingless " >
    <div class="container is-fixed is-fluid has-text-centered is-fullheight">

        <div class="content">
          <div class="columns is-centered is-vcentered">
            <div class="column is-6">
                <h1 class="title is-1">
                  h1 class = title is-1
                </h1>
                <hr>
                <h3 class="subtitle is-uppercase">
                    h3 class = subtitle is-uppercase <a href="{{ "/" | relURL }}">This is a link.</a>
                </h3>

                <a class="button" href="{{ "/" | relURL }}">button</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<img class="is-paddingless is-marginless has-background-orange" src="img/hatch-bottom-red.svg" width="100%" height="100%" >
<section class="hero  section-color-red" >
  <div class="hero-body hero-body-red  pad2y is-paddingless " >
    <div class="container is-fixed is-fluid has-text-centered is-fullheight">

        <div class="content">
          <div class="columns is-centered is-vcentered">
            <div class="column is-6">
                <h1 class="title is-1">
                  h1 class = title is-1
                </h1>
                <hr>
                <h3 class="subtitle is-uppercase">
                    h3 class = subtitle is-uppercase <a href="{{ "/" | relURL }}">This is a link.</a>
                </h3>

                <a class="button" href="{{ "/" | relURL }}">button</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
