
<section class="section   section-color-white  " id="04">
  <div class="hero-body hero-body-white" >
    <div class="container is-fluid " >
      <div class="columns is-marginless is-paddingless  has-text-centered container-white has-background-white pad1y ">
        <div class="column is-12 ">
          <h1 class="subtitle has-text-centered" >
            pricing plans
          </h1>
          <p class="subtitle">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="{{ "/" | relURL }}">read more</a>
          </div>
      </div>
      <br>
      <div class="columns is-marginless is-paddingless  has-text-centered  ">
        <div class="column is-4   is-paddingless ">
          <div class=" container-yellow has-background-yellow pad2">
            <h1 class="subtitle is-size-4 " >
                Starter Plan
            </h1>
            <p class="subtitle " >  <span class="fa fa-euro is-size-6">  </span> 200 <i class="is-size-6"> /month</i>  </p>
            <ul class="pad1y">
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 01 li 01 </i>  </p>
                </li>
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 01 li 02 </i>  </p>
                </li>
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 01 li 03 </i>  </p>
                </li>
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 01 li 04 </i>  </p>
                </li>
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 01 li 05 </i>  </p>
                </li>
            </ul>
            <br>
            <a href="#" class="button is-fullwidth pad"> Choose </a>
          </div>
        </div>
        <div class="column is-4   is-paddingless ">
          <div class=" container-orange has-background-orange pad2">
            <h1 class="subtitle is-size-4 " >
                Team Plan
            </h1>
            <p class="subtitle " >  <span class="fa fa-euro is-size-6">  </span> 400 <i class="is-size-6"> /month</i>  </p>
            <ul class="pad1y">
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 02 li 01 </i>  </p>
                </li>
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 02 li 02 </i>  </p>
                </li>
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 02 li 03 </i>  </p>
                </li>
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 02 li 04 </i>  </p>
                </li>
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 02 li 05 </i>  </p>
                </li>
            </ul>
            <br>
            <a href="#" class="button is-fullwidth pad"> Choose </a>
          </div>
        </div>
        <div class="column is-4   is-paddingless ">
          <div class=" container-red has-background-red pad2">
            <h1 class="subtitle is-size-4 " >
                Enterprise Plan
            </h1>
            <p class="subtitle " >  <span class="fa fa-euro is-size-6">  </span> 1200 <i class="is-size-6"> /month</i>  </p>
            <ul class="pad1y">
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 03 li 01 </i>  </p>
                </li>
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 03 li 02 </i>  </p>
                </li>
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 03 li 03 </i>  </p>
                </li>
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 03 li 04 </i>  </p>
                </li>
                <li class="pad1y">
                  <p class="is-uppercase"> <i class="fa fa-arrow-right "> </i><i> price table 03 li 05 </i>  </p>
                </li>
            </ul>
            <br>
            <a href="#" class="button is-fullwidth pad"> Choose </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
