<section  class="section hero section-color-black" id="05" >
  <div class="hero-parallax hero-body" style="background-image: url(); min-height:calc(100vh + 8rem); margin-top:-8rem">
    <img data-src="images/vinyl_playing_hq_bw.jpg" alt="hello" width="100%" height="100%" class="lazyload" style="background-size:cover;">
  
    <div class="container is-fluid is-fullheight is-paddingless is-fullwidth" style=" ;">
      <div class="container container-transparent is-fluid  ">
        <div class="columns is-marginless is-paddingless  is-centered is-vcentered ">
          <div class="column is-one-quarter">
            <figure class="lined_black" style="padding:16px">
               <img  src="images/rca-orange.jpg" alt="">
            </figure>
          </div>
          <div class="column is-three-quarters ">
            <!--
            <h1 class="title">
              h1 class = title
            </h1>
            -->
            <h1 class="subtitle " >
              h1 class = subtitle, <a href="{{ "/about" | relURL }}">this is a link</a>...
            </h1>
            <div class="container  ">
              <p class="">
                Phasellus porttitor enim id metus volutpat ultricies. Ut nisi nunc, blandit sed dapibus at, vestibulum in felis. Etiam iaculis lorem ac nibh bibendum rhoncus.
                <a href="{{ "/about" | relURL }}">This is a link</a>...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
