
<section  class="section hero section-color-black"  >
  <div class=" hero-body hero-body-black   is-paddingless">

    <div class="hero-parallax  parallax" style="background-image: url(images/vinyl_playing_hq_bw.jpg);background-size:cover; height:50vh    ">
      <div class=" parallax-container parallax-yellow" >
        <div class="container is-fluid has-text-centered ">
          <div class="content">

          </div>
        </div>
      </div>
    </div>

    <div class="container is-fluid is-fullheight is-paddingless is-fullwidth" style=" ;">
      <div class="container container-black is-fluid  ">
          <div class="columns is-marginless is-paddingless  is-centered is-vcentered ">
            <div class="column is-one-quarter">
              <figure class="lined_black" style="padding:16px">
                 <img  src="images/rca-orange.jpg" alt="">
              </figure>
            </div>
            <div class="column is-three-quarters ">
              <!--
              <h1 class="title">
                h1 class = title
              </h1>
              -->
              <h1 class="subtitle " >
                h1 class = subtitle, <a href="{{ "/about" | relURL }}">this is a link</a>...
              </h1>
              <div class="container  ">
                <p class="">
                  Phasellus porttitor enim id metus volutpat ultricies. Ut nisi nunc, blandit sed dapibus at, vestibulum in felis. Etiam iaculis lorem ac nibh bibendum rhoncus.
                  <a href="{{ "/about" | relURL }}">This is a link</a>...
                </p>
              </div>
              </div>
            </div>
            </div>
        </div>
    <div class="hero-parallax  parallax   " style="background-image: url(images/vinyl_playing_hq_bw.jpg);background-size:cover; height:50vh  ">

    </div>
  </div>

</section>
