<div class="columns is-centered is-vcentered   ">
  <div class="column is-3 ">
    <figure class="image is-centered">
      <img class="lazyload is-square " data-src="{{.Site.Params.homepage_03_03.imageSrc }}" alt="{{.Site.Params.homepage_03_03.imageAlt }}" style=" ">
    </figure>
  </div>
  <div class="column is-9  ">
    <p class=" is-size-7 is-uppercase ">
      {{.Site.Params.homepage_03_03.topMiniTitle }}
    </p>
    <h1 class="title is-uppercase">
      {{.Site.Params.homepage_03_03.title }}
    </h1>
    <h3 class="subtitle">
      {{.Site.Params.homepage_03_03.subtitle }}
    </h3>
    <p class="is-size-6  ">
      {{.Site.Params.homepage_03_03.paragraph }}
    </p>

  </div>
</div>