<div class=" columns is-centered is-vcentered ">
  <div class="column is-3 has-background-black-lines pad2">
    <figure class="image ">
      <img class="lazyload " data-src="{{.Site.Params.homepage_03_01.imageSrc }}" alt="">
    </figure>
  </div>          
  <div class=" column is-9 has-text-left">
  <p class=" is-size-7 is-uppercase ">
    {{.Site.Params.homepage_03_01.topMiniTitle }}
  </p>
  <h1 class="title is-uppercase">
    {{.Site.Params.homepage_03_01.title }}
  </h1>
  <h3 class="subtitle">
    {{.Site.Params.homepage_03_01.subtitle }}
  </h3>
  <p class="is-size-4 is-uppercase ">

    {{ .Site.Params.homepage_03_01.paragraph }}
  </p>
  </div>
</div>