@import 'custom_variables';
@import 'navbar';
@import 'sections';
@import '../../node_modules/bulma';
@import "imports/fullpage";
@import "font-awesome";
*{ box-sizing: border-box; list-style:none; scroll-behavior: smooth;}
html::-webkit-scrollbar {display: none!important; scrollbar-width: none!important;}
 ::-webkit-scrollbar {display: none;width: 0px;background: transparent;}
 ::-webkit-scrollbar-track-piece {background-color: transparent ;-webkit-border-radius: 6px;}

 html{
   margin:0;padding:0;top:0;bottom:0;left:0;right: 0;
   overflow-x:hidden;
   overflow-y:scroll;
   text-rendering:optimizeLegibility;
   -webkit-text-size-adjust:100%;
   -moz-text-size-adjust:100%;
   -ms-text-size-adjust:100%;
   text-size-adjust:100%;
   scrollbar-width: none;
   scroll-snap-type: both mandatory;
   list-style:none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section, article{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space:initial;
  max-width:100vw!important;
  min-height:100vh!important;
  height:100%!important;
  margin:0!important;
   padding:0!important;
  overflow-x : hidden;
  overflow-y : scroll;

}

.gradient-backdrop {
 background-image:linear-gradient($red,$orange,$yellow,transparent);
 background-attachment:fixed;
 background-size:cover;
}
.is-active {
 display:initial
}
.gradient-backdrop h1 {
 //line-height:50px;
 color:black;
 mix-blend-mode:lighten;
 background-color:white;
 //font-size:45px;
 //font-weight:600;
 //padding-bottom:40px
}


.title, h1{
text-transform: uppercase;
//  letter-spacing: -.2rem;
 font-size: $size-1;
}
h2{
  letter-spacing: -.18rem;
    font-size: $size-2;

}
.subtitle , h3{
     font-size: $size-3;
     letter-spacing: -.15rem;
 }
 h4{
     font-size: $size-4;
 }
 h5{
     font-size: $size-5;
 }
 h6{
     font-size: $size-6;
 }
 p {
   font-family: $family-alt;
   font-size: $size-6;
   font-style: normal;
   line-height: $size-3;
 }


.preloader {
  align-items: center;
  background: $black;
  background-image: $y_stripe_roy;background-repeat: repeat-x repeat-y;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
}

.icon-bg {
 background-image:url(/images/k7.png)
}
