//navbar commons
.navbar {
    max-height: $navbar-height; // 4rem / 64px...
}

.navbar-menu.is-active {
    backdrop-filter: blur(120px);
    vertical-align: center;
    -webkit-overflow-scrolling: touch;
    //min-height:100vh; 
    position: absolute;
    //overflow: auto;
    //margin-top: calc(0 - $navbar-height); 
    margin-top: $navbar-height;
    //padding-bottom: $navbar-height;
    width: calc(50vw - 64px);
}

.menu-label {
    position: absolute;
    visibility: hidden;
}

.menu-label-slideLeft {
    animation-name: labelSlideToLeft;
    -webkit-animation-name: labelSlideToLeft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes labelSlideToLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(35%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes labelSlideToLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(35%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

.navbar-menu-entry {
    text-align: center;
    align-items: center;
}

.navbar-brand-logo {
    height: $navbar-height;
    width: 256px;
}

.navbar-burger.burger {
    max-height: 24px;
    max-width: 24px;
    margin-top: 20px;
    margin-right: 20px;
    @extend .has-background-alpha-white;
    span {
        color: $black
    }
    border-radius:12px;
}

.burger.is-active {
    //border-radius:120px;
}

.menu-label {
    visibility: hidden;
}

.navbar-brand {
    h1 {
        mix-blend-mode: lighten;
    }
    backdrop-filter: light(40);
}

.navbar-menu-entry {
    i {
        margin-right: 4px;
        font-size: 16px;
    }
    text-transform: uppercase;
    font-family:$family-alt;
}

//style: 'transparent'
.navbar-color-transparent {
    .navbar-menu.is-active {
        @extend .has-background-black-lines;
        @extend .has-background-alpha;
    }
    a.navbar-item.navbar-menu-entry,
    .navbar-burger.burger {
        @extend .has-background-alpha-white;
        color: $black;
    }
    a.navbar-item.navbar-menu-entry:focus,
    a.navbar-item.navbar-menu-entry:focus-within,
    a.navbar-item.navbar-menu-entry:hover,
    a.navbar-item.navbar-menu-entry:active {
        color: $black;
        @extend .has-background-white;
    }
}