//navbar commons
.navbar
{
  max-height:$navbar-height;
}
.navbar-menu.is-active
{
  backdrop-filter: blur(20px);
  vertical-align: center;
  -webkit-overflow-scrolling: touch;
  height:100vh;
  overflow: auto;
}
.navbar-menu-entry
{
  text-align: center;
  align-items: center;
}
.navbar-brand-logo
{
  position: absolute;
  height:$navbar-height;
  left:24px!important;
  align-items: left;
  margin-left:0!important;
}
#navbarMenu
{
  box-shadow: none;
}
//.navbar-menu{.is-active{height: 100%;}}
.navbar-menu
{
  //div{i{margin:4px;font-size: 16px;}}
}
.navbar-menu-entry{
  i{margin-right: 4px;font-size: 16px;}
//  font-size: 20px;
  text-transform: uppercase;font-family:$family-alt;
}
//style: 'transparent'
.navbar-color-transparent
{
  //backdrop-filter:blur(20px) ;
  .navbar-menu.is-active
  {
    @extend .has-background-alpha;
  }
  a.navbar-item.navbar-menu-entry
  {
    @extend .has-background-alpha-white;
    color:$black;
  }
  .navbar-brand-logo,
  .navbar-burger.burger
  {
    color:$white;
    //@extend .has-background-black;
  }
  a.navbar-item.navbar-menu-entry:focus,
  a.navbar-item.navbar-menu-entry:focus-within,
  a.navbar-item.navbar-menu-entry:hover,
  a.navbar-item.navbar-menu-entry:active
  {
    @extend .has-background-white;
    text-decoration:underline;
  }
}


//style: 'white'
.navbar-color-,
.navbar-color-default,
.navbar-color-white,
.navbar-color-light
{
  .navbar-menu.is-active
  {
    @extend .has-background-alpha-white;
  }

  @extend .has-background-alpha-white;
  a.navbar-item.navbar-menu-entry,
  .navbar-burger.burger
  {color:$black;}
  a.navbar-item.navbar-menu-entry:focus,
  a.navbar-item.navbar-menu-entry:focus-within,
  a.navbar-item.navbar-menu-entry:hover,
  a.navbar-item.navbar-menu-entry:active
  {
    @extend .has-background-white;
    text-decoration:underline;
  }
}

//style: 'black'
.navbar-color-black,.navbar-color-dark{
    .navbar-item{color: $white;}
    .navbar-item:focus,.navbar-item:hover{color: $red;background-color:$black;}
    .navbar-brand{a{color: $white;}}
    .navbar-brand-logo:focus,.navbar-brand-logo:hover{color:$yellow;}
    color: $white;
    background-color: $alpha-black;
}

//style: 'orange'
.navbar-color-orange,.navbar-color-primary{
  .navbar-item{color: $black;}
  .navbar-item:focus,.navbar-item:hover{color: $red; }
  .navbar-brand{a{color: $white;}}
  .navbar-brand-logo:focus,.navbar-brand-logo:hover{color:$red;}
  background-color: $alpha-orange;
  color:$white;
}

//style: 'yellow'
.navbar-color-yellow{
  .navbar-item{color: $black;}
  .navbar-item:focus,.navbar-item:hover{color: $red;}
  .navbar-brand{a{color: $black;}}
  .navbar-brand-logo:focus,.navbar-brand-logo:hover{i{color:$white}color:$red;}
  background-color: $alpha-yellow;
  color:$black;
}

//style: 'red'
.navbar-color-red{
  .navbar-item{color: $black;}
  .navbar-item:focus,.navbar-item:hover{color: $yellow;}
  .navbar-brand{a{color: $black;}}
  .navbar-brand-logo:focus,.navbar-brand-logo:hover{color:$white;}
  background-image:$y_stripe_orange;background-repeat: repeat-y;
    color: $white;
    background-color: $alpha-red;
}
