
//section commons

.hero-body{
  height:100%;
  width: 100%;
  //margin-top:120px;
  margin: 0;

  padding-top: 8px ;
  padding-left: 32px!important;
  padding-right: 8px!important;
  padding-bottom: 8px!important;
  -webkit-box-flex: 1;
  flex-grow: 0;
  flex-shrink: 1;
  background-repeat: repeat-y;
  .container{margin-top:54px;padding: 8px;}
}

.parallax{
  height:100vh!important;
}

.parallax.parallax-white,
.parallax.parallax-black,
.parallax.parallax-orange,
.parallax.parallax-yellow,
.parallax.parallax-red{
  background-repeat: repeat;
  width:100%;
}

.parallax-white{background-color:$white-alpha;background-image:$xy_lines_FFF;}
.parallax-black{background-color:$black-alpha-half;background-image:$xy_lines_000;}
.parallax-orange{background-color:$orange-alpha;}
.parallax-yellow{background-color:$yellow-alpha;background-image:$xy_lines_FFF;}
.parallax-red{background-color:$red-alpha;}

.parallax-body {
  height: 100%;

  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  background-repeat: repeat-y;
  -webkit-clip-path:polygon(0 100%, 0 10%, 100% 20%, 100% 95%);
  clip-path:polygon(0 100%, 0 $navbar-height, 100% 20%, 100% 95%);
  z-index:-1;
  .img-parallax{
    z-index:10;
    position: absolute;
    min-height:100vh!important;
    width: 1600px;
    max-width: 100%;
    background-size: cover;
  }

}
.parallax-container{
  position:fixed;
  display: block;
  margin-top:25%;
  padding:8px;
  //top:30%;
  justify-content: center;
  z-index: 12;
  -webkit-clip-path:polygon(0 100%, 0 0%, 100% 5%, 100% 90%);
    clip-path:polygon(0 100%, 0 0%, 100% 5%, 100% 90%);

}

/*

.container-white,
.container-white,
.container-white,
.container-white,
.container-black,
*/
.container-white,
.section-color-default,
.section-color-white,
.footer-color-white,
.footer-color-default{

  .content,.title,.subtitle,.button,h1,h2,h3,h4,h5,h6,strong,p{color: $black;}
  .button{background-color: $black;color: $white;}
  .button:focus,.button:hover{background-color: $white;color: $black;border-color: $black;background-image:$y_stripe_roy;background-repeat: repeat-y;}


  a{color: $red;}a:hover{color: $orange;}a:focus{color: $orange;}
  hr{background-color: $black};
  code{background-color: $yellow;}
  pre{background-color: $white;}
  color: $black;

  //

}
.hero-body-white,
.container-white{
  background-color:$white-alpha;
}
.hero-body-black,
.container-black{
  background-color:$black-alpha;
}
.hero-body-orange,
.container-orange{
  background-color:$orange-alpha;
}
.hero-body-yellow,
.container-yellow{
  background-color:$yellow-alpha;
}
.hero-body-red,
.container-red{
  background-color:$red-alpha;
}

.section-color-default,
.section-color-white,
.footer-color-white,
.footer-color-default{background-color: $white;}
.section-color-black,
.footer-color-black{background-color: $black;}
.section-color-orange,
.footer-color-orange{background-color: $orange;}
.section-color-yellow,
.footer-color-yellow{background-color: $yellow;}
.section-color-red,
.footer-color-red{background-color: $red;}

.section-color-orange,
.section-color-primary,
.footer-color-orange,
.footer-color-primary{
  .content,.title,.subtitle,.button,h1,h2,h3,h4,h5,h6,strong,p{color: $black;}
  .button{background-color: transparent;color: $black;border-color: $black;}
  .button:focus,.button:hover{background-color: $black;color: $white;border-color: $black;}
  /*
  .hero-body{
    background-color:$orange-alpha;
  }
  */
  a{color: $red;}a:focus,a:hover{color: $white;}
  hr{background-color: $black};
  code,pre{background-color: $white;}
  color: $white;
}

.section-color-yellow,.footer-color-yellow{
  .content,.title,.subtitle,.button,h1,h2,h3,h4,h5,h6,strong,p{color: $black;}
  .button{background-color: transparent;color: $black;border-color: $black;}
  .button:focus,.button:hover{background-color: $white;color: $black;border-color: $black;}
  //.hero-body{background-color:$yellow-alpha; }
  a{color: $red;}a:focus,a:hover{color: $orange;}
  hr{background-color: $black};
  code,pre{background-color: $white;}
  color: $black;
}

.section-color-red,.footer-color-red{
  .title,.subtitle,.button,h1,h2,h3,h4,h5,h6,strong,p{color: $white;}
  .button{background-color: $red;color: $white;}
  .button:focus,.button:hover{background-color: $red;color: $black;border-color: $black;}
  //.hero-body{background-color:$red-alpha;}
  a{color: $black;}
  hr{background-color: $orange};
  code,pre{background-color: $white;}
  color: $white;
}

.section-color-black,.footer-color-black{
  .content,.title,.subtitle,.button,h1,h2,h3,h4,h5,h6,strong,p{color: $white;}
  .button{background-color: $black;color: $white;}
  .button:focus,.button:hover{background-color: $black;color: $yellow;border-color: $yellow;}
  //.hero-body{background-color:$black-alpha;}
  a{color: $red;}
  a:hover{color: $yellow;}
  hr{background-color: $orange};
  code,pre{background-color: $white;}
  color: $white;
}
