.container-fixed
{
  margin-left:$gap;
}

section,
article,
.section,
.hero
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space:initial;
  max-width:100vw!important;
  height:100%!important;
  //min-height:50vh;

  margin:0!important;
  padding-top:0!important;
  padding-right:0!important;
  padding-left:0!important;
  padding-bottom:0!important;
  overflow-x : hidden;
}
/*
section, article{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space:initial;
  max-width:100vw!important;
  min-height:100vh;
  height:100%!important;
  margin:0!important;
   padding:0!important;
  overflow-x : hidden;
  overflow-y : scroll;

}
*/
.hero-body,
.hero-head
{
  padding-top:$navbar-height*2!important;
  padding-right:$gap/2!important;
  padding-left:$gap/2!important;
  padding-bottom:$navbar-height*2!important;
  margin:0 0 0 0;
  z-index:20!important;
}
.hero-body
{
  //min-height: 100vh;
  width: 100%;
  background-repeat: repeat-y;
}
.hero-footer
{
  margin:0!important;

}
.hero-image
{
  padding-bottom: 0!important;
  z-index:18!important;
  position:absolute!important;
  width:100%!important;
  bottom:0;
  overflow-y: hidden;
}

.hero-parallax
{
  padding-right:0!important;
  padding-left:0!important;
  height: 100%;
//  margin-left: -8px;
//  margin-right: -18px;
  margin-bottom:0;
  padding-top:$navbar-height * 2 ;
  padding-right: 0!important;
  padding-bottom: $navbar-height!important;
  background-attachment:fixed;
  background-position: center;
  background-size:cover;
//  -webkit-clip-path:polygon(0 100%, 0 0%, 100% 20%, 100% 100%);
//  clip-path:polygon(0 100%, 0 0%, 100% 20%, 100% 100%);
  z-index:-1;
}
.parallax-container{
  position:absolute;
}
.parallax-container.parallax-white,
.parallax-container.parallax-black,
.parallax-container.parallax-orange,
.parallax-container.parallax-yellow,
.parallax-container.parallax-red{
  background-repeat: repeat;
  width:100%;
}
//.parallax-container.parallax-white{background-color:$white-alpha;background-image:$xy_lines_FFF;}
.parallax-container{background-color:transparent; backdrop-filter:$backdrop-alpha;}
//.parallax-container.parallax-black{background-color:$black-alpha-half;background-image:$xy_lines_000;}
//.parallax-container.parallax-orange{background-color:$orange-alpha;}
//.parallax-container.parallax-yellow{background-color:$yellow-alpha;background-image:$xy_lines_FFF;}
//.parallax-container.parallax-red{background-color:$red-alpha;}
// #
// # transparent. section style :
// #
.section-color-transparent,
.footer-color-transparent
{
  background-color:rgba($white,0);

}
.hero-body-transparent,
.container-transparent
{
  background-color:rgba($white,0);
}

// #
// # white section style :
// #
.section-color-white,
.footer-color-white,
.section-color-default,
.footer-color-default
{
   background-color: $white;
}
// # white boxes style :
.hero-body-,
.hero-body-white,
.container-white
{
  background-color:$alpha-white;
}
//inside a white box
.container-default,       //  so, white sections
.section-color-default,   //  and white boxes
.footer-color-default,    //  are default
.hero-body-,              //  <- no-error trick
//
.hero-body-white,
.container-white,
.section-color-white,
.footer-color-white
{ // typo colors
  h1,h2,h3,.title,.subtitle
  {
    color:$black;
  }
  h4,h5,h6,strong,p,hr
  {
    color:$grey-darker;
  }
  a
  {
    color: $grey;
  }
  a:active,a:focus,a:hover
  {
    color: $black;
    text-decoration:underline ;
  }
  // fa-icons styles
  .fa
  {
    color: $black;
  }
  .fa:active,.fa:focus,.fa:hover
  {
    color: $primary;
  }
  .fa.fa-3x
  {
    color: $grey;
  }
  .fa.fa-3x:active, .fa.fa-3x:focus, .fa.fa-3x:hover
  {
    color: $grey-darker;
  }
  // buttons
  .button
  {
    border-width: 1px!important;
    border-color: $black!important;
    background-color: $white;
    color: $black;
    .fa //fa inside button
    {color: $black;}
  }
  .button:active,.button:focus,.button:hover
  {
    text-decoration: none;
    background-color: $black;
    color: $white;
    .fa //fa inside button
    {color: $white!important;}
  }
  code
  {
    background-color: $yellow;
  }
  pre
  {
    background-color: $white;
  }
  color:$grey-darker;
}


// #
// # yellow section style :
// #
.section-color-yellow,
.footer-color-yellow
{
  background-color: $yellow;
}
// # yellow boxes style :
.hero-body-yellow,
.container-yellow
{
  background-color:$alpha-yellow;
  //backdrop-filter: $backdrop-alpha;
}
//inside a yellow box
.hero-body-yellow,
.container-yellow,
.section-color-yellow,
.footer-color-yellow
{
  // typo colors
  h1,
  h2,
  h3,
  .title,
  .subtitle
  {color:$black;}
  h4,
  h5,
  h6,
  strong,
  p
  {color:$grey-darker;}
  a
  {color: $red;}
  a:active,a:focus,a:hover
  {color: $orange;}
  // fa-icons styles
  .fa
  {color: $red;}
  .fa:active,.fa:focus,.fa:hover
  {color: $orange;}
  .fa.fa-3x
  {color: $orange;}
  .fa.fa-3x:active,
  .fa.fa-3x:focus,
  .fa.fa-3x:hover
  {color: $grey-darker;}
  // buttons
  .button
  {
    background-color: $black;
    color: $white;
    .fa //fa inside button
    {color: $black;}
  }
  .button:active,.button:focus,.button:hover
  {
    border-width: 1px!important;
    border-color: $black!important;

    background-color: $yellow;
    color: $black;
    .fa //fa inside button
    {color: $yellow;}
  }
  hr
  {background-color: $black}
  code,pre{background-color: $white;}
  color: $black;
}

// #
// # orange section style :
// #
.section-color-orange,
.footer-color-orange
{
  background-color: $orange;
}
// # orange boxes style :
.hero-body-orange,
.container-orange
{
  background-color:$alpha-orange;
  //backdrop-filter: $backdrop-alpha;
}
//inside a yellow box
.hero-body-orange,
.container-orange,
.section-color-orange,
.footer-color-orange
{
  // typo colors
  h1,
  h2,
  h3,
  .title,
  .subtitle
  {color:$black;}
  h4,
  h5,
  h6,
  strong,
  p
  {color:$grey-darker;}
  a
  {color: $red;}
  a:active,a:focus,a:hover
  {color: $white;}
  // fa-icons styles
  .fa
  {color: $red;}
  .fa:active,.fa:focus,.fa:hover
  {color: $orange;}
  .fa.fa-3x
  {color: $orange;}
  .fa.fa-3x:active,
  .fa.fa-3x:focus,
  .fa.fa-3x:hover
  {color: $grey-darker;}
  // buttons
  .button
  {
    border-width: 1px!important;
    border-color: $black!important;
    background-color: $orange;
    color: $black;
    .fa //fa inside button
    {color: $black;}
  }
  .button:active,.button:focus,.button:hover
  {
    background-color: $black;
    color: $orange;
    .fa //fa inside button
    {color: $orange;}
  }
  hr
  {background-color: $black}
  code,pre{background-color: $white;}
  color: $black;
}

// #
// # red section style :
// #
.section-color-red,
.footer-color-red,
{
   background-color: $red;
}
// # red boxes style :
.hero-body-red,
.container-red
{
  background-color:$alpha-red;
  //backdrop-filter: $backdrop-alpha;
}
//inside a red box
//
.hero-body-red,
.container-red,
.section-color-red,
.footer-color-red
{ // typo colors
  h1,h2,h3,.title,.subtitle
  {
    color:$white;
  }
  h4,h5,h6,strong,p,hr
  {
    color:$white;
  }
  a
  {
    color: $yellow;
  }
  a:active,a:focus,a:hover
  {
    color: $orange;
  }
  // fa-icons styles
  .fa
  {
    color: $yellow;
  }
  .fa:active,.fa:focus,.fa:hover
  {
    color: $orange;
  }
  .fa.fa-3x
  {
    color: $white;
  }
  .fa.fa-3x:active, .fa.fa-3x:focus, .fa.fa-3x:hover
  {
    color: $yellow;
  }
  // buttons
  .button
  {
    border-width: 1px!important;
    border-color: $white!important;
    background-color: $red;
    color: $white;
    .fa //fa inside button
    {color: $yellow;}
  }
  .button:active,.button:focus,.button:hover
  {
    background-color: $white;
    color: $red;
    .fa //fa inside button
    {color: $yellow;}
  }
  code
  {
    background-color: $yellow;
  }
  pre
  {
    background-color: $white;
  }
  color:$white;
}


// #
// # black section style :
// #
.section-color-black,
.footer-color-black,
{
   background-color: $black;
}
// # black boxes style :
.hero-body-black,
.container-black
{
  background-color:$alpha-black;
  //backdrop-filter: $backdrop-alpha;
}
//inside a black box
//
.hero-body-black,
.container-black,
.section-color-black,
.footer-color-black
{ // typo colors
  h1,.title
  {
    color:$white;
  }
  h2,h3,.subtitle,
  h4,h5,h6,strong,p,hr
  {
    color:$white;
  }
  a
  {
    color: $red;
  }
  a:active,a:focus,a:hover
  {
    color: $orange;
  }
  // fa-icons styles
  .fa
  {
    color: $white;
  }
  .fa:active,.fa:focus,.fa:hover
  {
    color: $red;
  }
  .fa.fa-3x
  {
    color: $white;
  }
  .fa.fa-3x:active, .fa.fa-3x:focus, .fa.fa-3x:hover
  {
    color: $orange;
  }
  // buttons
  .button
  {
    border-width: 1px!important;
    border-color: $white!important;
    background-color: $black ;
    color:$white;

    .fa //fa inside button
    {color: $black;}
  }
  .button:active,.button:focus,.button:hover
  {
    border-width: 0px!important;
  //  border-color: $white!important;
    background-color: $white;
    color:$black;
    .fa //fa inside button
    {color: $orange;}
  }
  code
  {
    background-color: $yellow;
  }
  pre
  {
    background-color: $white;
  }
  color:$white;
}
