{{ define "main" }}

{{ partial "home/01" . }}
{{ partial "home/02" . }}

{{ partial "home/03" . }}
{{ partial "home/04" . }}
{{ partial "home/05" . }}

{{ partial "home/06" . }}

<!--



<section class="hero is-fullheight section section-color-white left_stripe_roy ">
  <div class="hero-body hero-body-white left_stripe_roy" >
    <div class="container is-marginless is-paddingless has-text-left  ">
      <div class="columns is-centered">
        <div class="column is-9">
          <h1 class="title is-3">h1 class = title is-1</h1>
          <hr>
          <h3 class="subtitle is-5 is-uppercase">
              h3 class = subtitle is-uppercase <a href="{{ "/" | relURL }}">This is a link.</a>
          </h3>
          <div class="container is-fluid pad1y " >
                <a class="pad" href="#"> <span class="fa fa-2x fa-instagram "></span> </a>
                <a class="pad" href="#"> <span class="fa fa-2x fa-facebook-official "></span></a>
                <a class="pad" href="#"> <span class="fa fa-2x fa-twitter "></span></a>
                <a class="pad" href="#"> <span class="fa fa-2x fa-youtube-square "></span></a>
          </div>
          <a class="button" href="{{ "/" | relURL }}">button</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section  class="section hero section-color-white"  >
  <div class=" hero-body hero-body-white  is-paddingless">

    <div class="container is-fluid is-fullheight is-paddingless is-fullwidth" style=" ;">
      <div class="container is-fluid  ">
          <div class="columns is-marginless is-paddingless  is-centered is-vcentered ">
            <div class="column is-one-quarter">
              <figure class="lined_black" style="padding:16px">
                 <img  src="images/rca-orange.jpg" alt="">
              </figure>
            </div>
            <div class="column is-three-quarters ">
              <h1 class="subtitle " >
                h1 class = subtitle, <a href="{{ "/about" | relURL }}">this is a link</a>...
              </h1>
              <div class="container  ">
                <p class="">
                  Phasellus porttitor enim id metus volutpat ultricies. Ut nisi nunc, blandit sed dapibus at, vestibulum in felis. Etiam iaculis lorem ac nibh bibendum rhoncus.
                  <a href="{{ "/about" | relURL }}">This is a link</a>...
                </p>
              </div>
              </div>
            </div>
            </div>
        </div>

  </div>

</section>




                                          <a class=" pad2x " href="{{ "/" | relURL }}"><span class="fa fa-lg  fa-facebook"></span></a>
                                          <a class=" pad2x " href="{{ "/" | relURL }}"><span class="fa fa-lg  fa-twitter"></span></a>
                                          <a class=" pad2x " href="{{ "/" | relURL }}"><span class="fa fa-lg  fa-instagram"></span></a>
                                          <a class=" pad2x " href="{{ "/" | relURL }}"><span class="fa fa-lg  fa-youtube"></span></a>


-->


{{ end }}
